.NavigationBar{
    display: grid;
    grid-template-columns: repeat(6, 0.5fr);
    text-align: center;
    background-color: #2B2B2B;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
.navigation{
    padding-top: 30px;
}
.whatWeDo{
    padding-top: 100px;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 50px;
}
.whatWeDo .goTo-in-industry{
    font-size: 80px;
    margin-top: 10px;
}
.explanation{
    margin-top: 0px;
}
.explanation p {
    max-width: 20em;
}

.explanationImg{
    margin-right: 300px;
    float: right;
    height: 600px;
    width: 600px;
}

.how-it-works{
    margin-top: 280px;
}

.headers-for-hiw{
    font-size: 50px;
    font-weight: bolder;
}
.howItWorks-text{
    font-size: 30px;
}

.wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(11, 182, 240);
    color: white;
    padding: 30px 30px 30px 30px;
}
.wrapper2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.wrapper3{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(11, 182, 240);
    color: white;
    padding: 30px 30px 30px 30px;
}


.alert{
    color:red;
    font-size:18px;
    font-weight:bolder;
    
}
.form_center{
    text-align: center;
    border: 1px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 300px;
    box-sizing: border-box;
    margin:auto;
    

}

h3{
    text-align: center;
}
